@font-face {
    font-family: 'Manrope';
    src: url('../../public/fonts/monrope/fonts/Manrope-ExtraLight.woff2') format('woff2'),
        url('../../public/fonts/monrope/fonts/Manrope-ExtraLight.woff2') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../../public/fonts/monrope/fonts/Manrope-Light.woff2') format('woff2'),
        url('../../public/fonts/monrope/fonts/Manrope-Light.woff2') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../../public/fonts/monrope/fonts/Manrope-Regular.woff2') format('woff2'),
        url('../../public/fonts/monrope/fonts/Manrope-Regular.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../../public/fonts/monrope/fonts/Manrope-Medium.woff2') format('woff2'),
        url('../../public/fonts/monrope/fonts/Manrope-Medium.woff2') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../../public/fonts/monrope/fonts/Manrope-SemiBold.woff2') format('woff2'),
        url('../../public/fonts/monrope/fonts/Manrope-SemiBold.woff2') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../../public/fonts/monrope/fonts/Manrope-Bold.woff2') format('woff2'),
        url('../../public/fonts/monrope/fonts/Manrope-Bold.woff2') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manrope';
    src: url('../../public/fonts/monrope/fonts/Manrope-ExtraBold.woff2') format('woff2'),
        url('../../public/fonts/monrope/fonts/Manrope-ExtraBold.woff2') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}